.App {
  display: grid;
  /* grid-template-columns: none; */
  grid-auto-columns: 1fr;
  /* grid-template-areas: 
    repeat(3, "header")
    "col1 col2 col3"; */
  grid-column-gap: 25px;
  justify-items: center;
  text-align: center;
  margin: 10px 25px;
}

.App h1 {
  /* grid-column: 1 / -2; */
  grid-row: 1;
}