.card {
  background-color: white;
  font-size: 15px;
  margin: 3px 5px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  hyphens: auto;
}

.card:hover {
  background-color: #dddddd;
}

.addCard {
  cursor: pointer;
}